@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$main-bg-color: rgb(29, 29, 29);
$secondary-bg-color: rgb(96, 96, 96);
$content-bg-color: linear-gradient(rgb(105, 105, 105), rgb(65, 65, 65));
$header-bg-color: linear-gradient(rgb(105, 105, 105), rgb(65, 65, 65));
$main-font-family: "Lato", serif;
$font-size-large: 70px;
$font-size-medium: 65px;
$font-size-small: 40px;
$font-size-xlarge: 50px;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-strong: 800;
$border-color: rgba(255, 255, 255, 0.5);
$hover-color: rgb(133, 133, 133);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font-family, serif;
    color: white;
}

body {
    background: linear-gradient($main-bg-color, $secondary-bg-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 840px;
    padding: 40px;
    height: auto;
    border: 2px solid $border-color;
    border-radius: 20px;
    background: $content-bg-color;
}

h2 {
    text-align: center;
    font-size: $font-size-medium;
    font-weight: $font-weight-semibold;
    padding-bottom: 20px;
}

p {
    text-align: center;
    font-size: $font-size-small;
}

a {
    font-size: $font-size-xlarge;
    text-transform: uppercase;
    font-weight: $font-weight-strong;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        color: $hover-color;
        transition: color 0.3s ease;
    }
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;

    h1 {
        font-size: $font-size-large;
        font-weight: $font-weight-bold;
    }
}
