<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Failed sign up</title>
    <link rel="icon" type="image/jpg" href="../assets/img/y.jpg">
</head>
<body>
    </div>
    <div class="main">
        <div class="content">
            <h2>Registration is failed.</h2>
            <p>Invalid username or email!<br>Try again ---> <a href="index.html">sign up</a></p>
        </div>
    </div>
</body>
</html>
