<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successful registration</title>
    <link rel="icon" type="image/jpg" href="../assets/img/y.jpg">
</head>
<body>
    <div class="header">
        <h1>Thank you for choosing us!</h1>
    </div>
    <div class="main">
        <div class="content">
            <h2>Registration is successful!</h2>
            <p>Now you can <a href="sign_in.html">sign in</a>!</p>
        </div>
    </div>
</body>
</html>
